<mat-card style="width: 70%; margin: 50px auto">
    <mat-card-header>
        <mat-card-title>Lista Productos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <button mat-flat-button color = "primary" (click)="nuevo()">Nuevo Producto</button> 
        <table mat-table [dataSource]="listaProduct" class="mat-elevation-z2" style="margin-top:20px">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef> Nombre del producto </th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="precio">
              <th mat-header-cell *matHeaderCellDef> Precio </th>
              <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="cantidad">
              <th mat-header-cell *matHeaderCellDef> Cantidad del Producto </th>
              <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="accion">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-icon-button color="primary"(click)="editar(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn"(click)="eliminar(element)">
                    <mat-icon>delete</mat-icon>
                </button>      
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          
             
    </mat-card-content>
  </mat-card>