
<div class="mat-elevation-z2" style="width: 30%; padding: 30px; margin: 50px auto; display: flex;justify-content: center;">
    <form [formGroup]="formProduct">
        <div class="flex">
            <mat-form-field>
                <mat-label>Nombre Completo</mat-label>
                <input matInput  formControlName="nombre">
              </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field>
                <mat-label>Precio</mat-label>
                <input matInput type="number" formControlName="precio">
              </mat-form-field>
        </div>
        <div class="flex">
            <mat-form-field>
                <mat-label>Cantidad</mat-label>
                <input matInput type="number"  formControlName="cantidad">
              </mat-form-field>
        </div>
        <div class="flex">
            <button mat-flat-button color="primary" (click)="guardar()">Guardar</button>
            <button mat-flat-button color="warn" (click)="volver()" style="margin-left: 8px;">Volver</button>
        </div>

    </form>

</div>